In [1]:
import pandas as pd
import numpy as np

In [6]:
# data 
male = {
    'applied': [900,100],
    'admitted': [450,10]
       }

female = {
    'applied': [100,900],
    'admitted': [80,180]
}

In [4]:
male_df = pd.DataFrame(data=male, index=['major_a', 'major_b'])
male_df

         applied  admitted
major_a      900       450
major_b      100        10

In [5]:
# what is the acceptance rate for men?
male_df['rate'] = male_df.admitted / male_df.applied
male_df

         applied  admitted  rate
major_a      900       450   0.5
major_b      100        10   0.1

In [7]:
female_df = pd.DataFrame(data=female, index=['major_a', 'major_b'])
female_df

         applied  admitted
major_a      100        80
major_b      900       180

In [8]:
# what is the acceptance rate for woman?
female_df['rate'] = female_df.admitted / female_df.applied
female_df

         applied  admitted  rate
major_a      100        80   0.8
major_b      900       180   0.2

In [ ]:
# just looking at these numbers would you believe in terms of acceptance rate:
# is there a gender bias? 

# YES - the acceptance rate is so different
# but who is being favored?

# female has a higher rate, but...

In [11]:
# how many students applied for the major for each gender?
male_applied_sum = male_df.applied.sum()
print('Total number of male applied: {}'.format(male_applied_sum))

female_applied_sum = female_df.applied.sum()
print('Total number of female applied: {}'.format(female_applied_sum))

Total number of male applied: 1000
Total number of female applied: 1000

In [12]:
# how many students were admitted for the major for each gender
male_admitted_sum = male_df.admitted.sum()
print('Total number of male admitted: {}'.format(male_admitted_sum))
female_admitted_sum = female_df.admitted.sum()
print('Total number of female admitted: {}'.format(female_admitted_sum))

Total number of male admitted: 460
Total number of female admitted: 260

In [14]:
# what's the rate in % for the total number of students admitted/applied?
male_total_rate = male_admitted_sum / male_applied_sum
print('Total acceptance rate for male: {:.2f} %'.format(male_total_rate*100))

female_total_rate = female_admitted_sum / female_applied_sum
print('Total acceptance rate for female: {:.2f} %'.format(female_total_rate*100))

Total acceptance rate for male: 46.00 %
Total acceptance rate for female: 26.00 %

In [ ]:
# again, who's being favored?
# Male!

In [ ]:
# Simpson's Paradox:
# depending the way you choose to look to your data can lead to a completely different results
# and often you may impact what people believe to be true with how you communicate your findings!
# you can guess how people intentionally or unententionally come to false conclusions with it's choices

# be skeptical of your own results or results from others